<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymw.admin.dao.TestTableMapper">

    <select id="selectTestList" resultType="com.ymw.admin.model.TestTable">
    <bind name="nameTemp" value="'%' + _parameter.name + '%'" />
        select * from test_table t where t.name like #{nameTemp}
    </select>
</mapper>
